@font-face {
    font-family: 'Verlag_Book';
    src: url('../fonts/verlag-book.otf') format('opentype');
}

@font-face {
    font-family: 'Verlag_Book_Italic';
    src: url('../fonts/verlag-book-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Verlag_Bold';
    src: url('../fonts/verlag-bold.otf') format('opentype');
}

@font-face {
    font-family: 'Verlag_Bold_Italic';
    src: url('../fonts/verlag-bold-italic.otf') format('opentype');
}

@font-face {
    font-family: 'Verlag_Black';
    src: url('../fonts/verlag-black.otf') format('opentype');
}