footer .social svg {
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

@include rwd(767) {
    footer {
        text-align: center;

        & .row {
            padding: 0;
        }

        & .col-3,
        .col-4 {
            flex: 0 0 90%;
            max-width: 100%;
            margin: 0 !important;
        }

        & .col-3 {
            margin-bottom: 3rem !important;
        }

        & form {
            text-align: start;
        }

        & .social {
            justify-content: center;
        }

        & .btn-custom {
            margin: 2rem auto 0 auto;
            display: flex;
        }

        & .container p {
            margin-left: 0 !important;
        }
    }
}