.navbar {
    transition: all 0.4s;
    font-size: 14px;
}

.navbar .nav-link {
    color: #fff;
    font-size: 16px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: $primary_dark_blue !important;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #fff;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: $primary_dark_blue;

        & .container-fluid {
            padding: 0 0 0 1rem !important;
        }

        &-nav {
            padding: 1rem 0 1rem 0;
        }
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #fff;
    }

    .social {
        margin: 1rem 0 0 0 !important;
    }
}
