body {
    font-family: 'Verlag_Book', sans-serif;
}

.italic {
    font-family: 'Verlag_Book_Italic', sans-serif;
}

.bold {
    font-family: 'Verlag_Bold', sans-serif;
}

.bold_italic {
    font-family: 'Verlag_Bold_Italic', sans-serif;
}

.black {
    font-family: 'Verlag_Black', sans-serif;
}