@charset "UTF-8";
.primary_light {
  color: #0ACCB2 !important;
}

.primary_dark_blue {
  color: #001954 !important;
}

.dark_bg {
  background-color: #252728;
  color: white;
}

.light_bg {
  background-color: #3A3C3D;
  color: white;
}

.dark_blue_bg {
  background-color: #001954;
  color: white;
}

.blue_btn {
  background-color: #008AE6 !important;
  color: white !important;
  border: none !important;
}

.blue_btn:hover {
  color: #008AE6 !important;
  background-color: white !important;
}

@font-face {
  font-family: 'Verlag_Book';
  src: url("../fonts/verlag-book.otf") format("opentype");
}

@font-face {
  font-family: 'Verlag_Book_Italic';
  src: url("../fonts/verlag-book-Italic.otf") format("opentype");
}

@font-face {
  font-family: 'Verlag_Bold';
  src: url("../fonts/verlag-bold.otf") format("opentype");
}

@font-face {
  font-family: 'Verlag_Bold_Italic';
  src: url("../fonts/verlag-bold-italic.otf") format("opentype");
}

@font-face {
  font-family: 'Verlag_Black';
  src: url("../fonts/verlag-black.otf") format("opentype");
}

body {
  font-family: 'Verlag_Book', sans-serif;
}

.italic {
  font-family: 'Verlag_Book_Italic', sans-serif;
}

.bold {
  font-family: 'Verlag_Bold', sans-serif;
}

.bold_italic {
  font-family: 'Verlag_Bold_Italic', sans-serif;
}

.black {
  font-family: 'Verlag_Black', sans-serif;
}

.navbar {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 14px;
}

.navbar .nav-link {
  color: #fff;
  font-size: 16px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #001954 !important;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #fff;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #001954;
  }
  .navbar .container-fluid {
    padding: 0 0 0 1rem !important;
  }
  .navbar-nav {
    padding: 1rem 0 1rem 0;
  }
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #fff;
  }
  .social {
    margin: 1rem 0 0 0 !important;
  }
}

/*  ============================= CLASSES GLOBALES =============================  */
body,
* {
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.card {
  -webkit-box-shadow: 0px 12px 36px #0000005C;
          box-shadow: 0px 12px 36px #0000005C;
}

.card a {
  color: #008AE6;
}

.card svg {
  fill: #008AE6;
  height: 10px;
  width: 10px;
}

.o-06 {
  opacity: 0.6;
}

/*  ----------------------------- underline text -----------------------------  */
.underline {
  background: -webkit-gradient(linear, left top, right top, from(#0ACCB2), to(#0ACCB2)) no-repeat;
  background: linear-gradient(to right, #0ACCB2, #0ACCB2) no-repeat;
  background-size: 100% 25%;
  background-position: left bottom;
}

/*  ----------------------------- button half rounded corners -----------------------------  */
.btn-custom {
  padding: 7px 35px;
  border: 3px white solid;
  border-radius: 15px 2px 15px 2px;
  background-color: transparent;
  color: white;
  font-size: 14px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-custom:hover {
  background-color: white;
  color: #0ACCB2;
}

/*  ============================= SECTION N°1 : About the ecosystem =============================  */
.about {
  position: relative;
  background-color: #252728;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 575px) {
  .about h1 {
    padding: 1rem 0;
  }
}

.about img {
  width: 300px;
}

.about video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.about .container {
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .about .container {
    height: auto;
    padding: 5rem 0;
  }
}

@media (max-width: 767px) {
  .about .container .d-flex {
    padding-top: 3 0%;
  }
}

.about .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #032D93;
  opacity: 0.95;
  mix-blend-mode: multiply;
  z-index: 1;
}

/*  ============================= SECTION N°2 : Your startup journey =============================  */
section.journey {
  background: transparent linear-gradient(141deg, #008AE5 0%, #032D93 100%) 0% 0% no-repeat padding-box;
  padding: 10% 15%;
  z-index: 3;
}

section.journey .cards {
  position: relative;
  top: -140px;
  z-index: 3;
}

@media (max-width: 767px) {
  section.journey .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 0;
  }
}

section.journey .cards .card {
  width: 30vw;
  height: 200px;
}

@media (max-width: 991px) {
  section.journey .cards .card {
    height: 250px;
  }
}

@media (max-width: 767px) {
  section.journey .cards .card {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  section.journey .cards .card:nth-child(1) {
    margin-bottom: 1rem;
  }
}

section.journey .cards .card a > svg {
  fill: #0ACCB2;
  height: 10px;
  width: 10px;
}

section.journey .cards-after {
  margin-top: -140px;
}

section.journey .cards .more-news {
  position: absolute;
  display: block;
  right: -5vw;
  bottom: 20px;
}

@media (max-width: 1199px) {
  section.journey .cards .more-news {
    right: -10vw;
  }
}

@media (max-width: 767px) {
  section.journey .cards .more-news {
    right: 45%;
    bottom: 0;
  }
}

.cards-after .carousel {
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

@media (max-width: 767px) {
  .cards-after .carousel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .cards-after .carousel .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.cards-after .carousel .nav-links .nav-link {
  margin-top: 3rem;
}

.cards-after .carousel .nav-links .nav-link.active .text p:last-child {
  background: -webkit-gradient(linear, left top, right top, from(#0ACCB2), to(#0ACCB2)) no-repeat;
  background: linear-gradient(to right, #0ACCB2, #0ACCB2) no-repeat;
  background-size: 100% 25%;
  background-position: left bottom;
}

.cards-after .carousel .nav-links .nav-link .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: white;
  background-color: #0ACCB2;
  width: 50px;
  height: 50px;
  margin: -10px -5px 0 0;
  border-radius: 50%;
  z-index: 2;
}

.cards-after .carousel .nav-links .nav-link .text {
  z-index: 2;
  line-height: 1;
}

.cards-after .carousel .nav-links .nav-link .text p:first-child {
  font-size: 42px;
}

.cards-after .carousel .nav-links .nav-link .text p:last-child {
  font-size: 26px;
}

.cards-after .carousel .slides {
  padding-top: 4rem;
}

@media (max-width: 767px) {
  .cards-after .carousel .slides {
    height: 70vh;
    margin-top: 2rem;
  }
}

.cards-after .carousel .slides .slide {
  position: absolute;
  z-index: 9999;
  opacity: 0;
}

.cards-after .carousel .slides .slide.active {
  opacity: 1;
}

.cards-after .carousel .slides .slide .img {
  position: relative;
  height: 220px;
  width: 220px;
  overflow: hidden;
}

.cards-after .carousel .slides .slide .img img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0px 3px 26px #00000029;
          box-shadow: 0px 3px 26px #00000029;
}

/*  ============================= SECTION N°3 : The ecosystem at a glance =============================  */
.ecosystem {
  background-image: url(../img/nation-branding-up.png), url(../img/nation-branding-down.png);
  background-repeat: no-repeat, no-repeat;
  background-size: auto 50%, auto 50%;
  background-position: 0% 0%, 0% 100%;
  min-height: 100%;
  margin-top: -17rem;
  padding-top: 20rem !important;
}

@media (max-width: 767px) {
  .ecosystem .d-flex {
    margin-bottom: 1rem !important;
  }
}

.ecosystem .subtitle {
  font-size: 30px;
  padding: 0 2rem;
}

@media (max-width: 767px) {
  .ecosystem .subtitle {
    text-align: center;
    padding-top: 1rem;
  }
}

@media (max-width: 767px) {
  .ecosystem .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 2rem;
  }
  .ecosystem .row:nth-child(3) {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
}

.ecosystem .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
  margin: 1rem 0;
}

@media (max-width: 767px) {
  .ecosystem .col {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-top: 0;
  }
  .ecosystem .col .d-flex {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.ecosystem .col .d-flex:last-child {
  font-size: 1.5rem;
}

.ecosystem .col .counter-text::after {
  color: #F3F3F3;
  content: attr(data-bg-text);
  display: block;
  font-size: 350px;
  font-weight: bold;
  line-height: 1;
  z-index: -1;
  position: absolute;
  top: -30px;
  left: -50px;
}

.ecosystem .col .counter-text.left::after {
  color: #F3F3F3;
  content: attr(data-bg-text);
  display: block;
  font-size: 350px;
  font-weight: bold;
  line-height: 1;
  z-index: -1;
  position: absolute;
  top: -30px;
  left: 100px;
}

.ecosystem img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  width: 100%;
  -webkit-box-shadow: 0px 3px 26px #00000029;
          box-shadow: 0px 3px 26px #00000029;
  border-radius: 4px;
}

/*  ============================= SECTION N°4 : News & insight =============================  */
.news {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.news h2 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.news img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.news .container {
  position: relative;
  z-index: 2;
}

.news .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(125deg, #008AE5 0%, #032D93 100%) 0% 0% no-repeat padding-box;
  opacity: 0.8;
  mix-blend-mode: normal;
  z-index: 1;
}

footer .social svg {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

footer .social svg:hover {
  fill: #008AE6 !important;
}

footer a:hover {
  color: #008AE6;
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }
  footer .row {
    padding: 0;
  }
  footer .col-3,
  footer .col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 100%;
    margin: 0 !important;
  }
  footer .col-3 {
    margin-bottom: 3rem !important;
  }
  footer form {
    text-align: start;
  }
  footer .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .btn-custom {
    margin: 2rem auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .container p {
    margin-left: 0 !important;
  }
}
/*# sourceMappingURL=main.css.map */